[submodule "third_party/jedi"]
	path = third_party/jedi_deps/jedi
	url = git@github.com:heronghua/jedi
[submodule "third_party/jedi_deps/numpydoc"]
	path = third_party/jedi_deps/numpydoc
	url = git@github.com:heronghua/numpydoc
[submodule "third_party/parso"]
	path = third_party/jedi_deps/parso
	url = git@github.com:heronghua/parso
[submodule "third_party/watchdog"]
	path = third_party/watchdog_deps/watchdog
	url = git@github.com:heronghua/watchdog
[submodule "third_party/mrab-regex-github"]
	path = third_party/mrab-regex-github
	url = https://github.com/mrabarnett/mrab-regex
